body {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100vw;
    height: calc(100vh - 40px);
}

.grid-div {
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    margin-bottom: 20px;
}